<header id="header">
				<h1 id="logo"><a href="/">The Well-Read Catholic <span></span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
                        <li><a href="/blog.html">Reviews</a></li>
						<li class="submenu">
							<a href="">Lists</a>
							<ul>
								<li><a href="/classics.html">Classics</a></li>
								<li><a href="/spiritual.html">Spiritual</a></li>
								<li><a href="/spiritual.html">Gift Ideas</a></li>
								<li class="submenu">
									<a href="">Children's Recommendations</a>
									<ul>
										<li><a href="/1000greatbooks.html">1000 Good Books</a></li>
										<li><a href="/1000greatbooks.html">Something New</a></li>
										<li><a href="/1000greatbooks.html">Spiritual Reading for Children</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="/contact.html" class="button special">Contact</a></li>
					</ul>
				</nav>
			</header>
